extend layout
block content
  h1 #{title}
  p.
    Lorem ipsum blah blah.

  p.
    Lorem ipsum blah blah.

block sidebar
  .block
    h1 Right Sidebar
    p.
      Jade is pretty cool.
    br
    .readmore
      a(href='http://example.com') Read More